@import url("https://fonts.google.com/share?selection.family=Manrope:wght@200|Montserrat:wght@300|Titillium+Web:wght@200");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@300&family=Oswald:wght@200..700&family=Titillium+Web:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  background-color: #f8f9fa;
}

body.dark-mode {
  background-image: url("/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-color: #212529;
  transition: all 0.3s;
}

body.dark-mode .items {
  background-color: #343a40;
  border: 1px solid #343a40;
  color: white;
}

body.dark-mode .items li {
  border: 1px solid #343a40;
  border-bottom: 1px solid #adb5bd;
}

body.dark-mode .footer {
  color: #868e96;
}

body.dark-mode .footer .btn-group button {
  color: #868e96;
}

body.dark-mode .footer .btn-group .active {
  color: rgb(35, 129, 172);
  border-radius: 5px;
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  height: 100vh;
  width: 100%;
}

/* ------------------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 600px; /* limit max width of the element */
}

.header h1 {
  color: #ffff;
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  letter-spacing: 1rem;
}

.header img:hover {
  cursor: pointer;
}
/* ------------------------ */

.add-form {
  display: flex;
  width: 80%;
  max-width: 600px; /* limit max width of the element */
}

.add-form img {
  opacity: 0; /* make the img invisible, but img still exists */
}

.add-form button {
  background-color: #f8f9fa;
}

.add-form .active-img-container {
  align-items: center; /* Center vertically */
  background-color: white;
  border-radius: 8px 0 0 8px;
  display: flex;
  justify-content: center; /* Center horizontally */
  padding: 5px;
  width: 10%; /* the img container should take only 10% of the form. Input container takes 90 */
}

.add-form .input-container {
  width: 90%;
  max-width: 600px; /* limit max width of the element */
}

.add-form input {
  border: 1px;
  border-radius: 0 8px 8px 0;
  padding: 1rem;
  width: 100%;
}

.add-form input::placeholder {
  font-size: 18px;
  font-family: "Manrope", serif;
}

/* remove the blue outline along the borders of <input ... /> */
.add-form input:focus {
  outline: none;
}
/* ------------------------ */

.btn-active {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

/* remove the check mark icon in the img container when inactive */
.items .inactive {
  opacity: 0;
  transition: transform 0.3s ease;
}

/* remove the items list button colored background when inactive*/
.items .btn-inactive {
  background: #f8f9fa;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.items button {
  background: rgb(35, 129, 172);
  background: linear-gradient(
    130deg,
    rgba(35, 129, 172, 1) 0%,
    rgba(116, 45, 253, 1) 100%
  );
}

.items {
  border: 1px solid #f1f3f5;
  border-radius: 8px;
  background-color: #ffff;
  width: 80%;
  max-width: 600px; /* limit max width of the element */
  min-height: 400px;
  overflow: scroll;
}

.items ul {
  list-style: none;
}

.items li {
  border: 1px solid #f1f3f5;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}

.items li:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* hide the delete button on all <li> elements by default*/
.items li .items-cancel {
  opacity: 0;
}

/* show the delete btn when hovering over the parent element (<li>), so btn will show even if not hovering over btn directly */
.items li:hover .items-cancel {
  opacity: 1;
}

.items .items-desc {
  display: flex;
  gap: 1rem;
}

.items .items-desc p {
  text-transform: capitalize;
  white-space: nowrap; /*text should not wrap onto the next line*/
}

/* strike through text when task is toggled as completed */
.items .items-desc .task-desc {
  text-decoration: line-through;
}

.empty-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0.5;
}

.empty-message img {
  height: auto;
  width: 15rem;
}

/* ------------------------ */

.footer {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  padding: 1rem;
  text-align: center;
}

.footer p {
  font-size: 13px;
}

.footer button {
  background: none;
  border: none;
}

.footer button:hover {
  color: rgb(35, 129, 172);
  cursor: pointer;
}

.footer .btn-group {
  display: flex;
  gap: 0.5rem;
}

.footer .btn-group .active {
  color: rgb(35, 129, 172);
  border-radius: 5px;
  font-weight: bold;
}

/* -------------------------------- */

@media (max-width: 768px) {
  body {
    background-image: url("/images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto; /* stretch the full screen width, keep height as auto */
  }

  body.dark-mode {
    background-image: url("/images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
  }

  .app {
    gap: 1rem;
    max-height: 100vh;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .header h1 {
    font-size: 2rem;
  }

  .items li .items-cancel {
    opacity: 1;
  }

  .footer {
    grid-template-rows: auto auto;
  }

  .footer .btn-group {
    align-items: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 12px;
    justify-content: center;
    gap: 4rem;
    grid-column: 1 / -1;
    grid-row: 2;
    padding: 0.8rem;
  }

  .footer button {
    grid-column: 3 / 4;
    color: #868e96;
  }
}
